<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CAD/CAE</h4>
                    <p class="text-muted">Design of Mechanical systems from sketched concepts to detailed and analysed CAD Assemblies and Sub-Assemblies ready for release and Manufacturing.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Embedded Control</h4>
                    <p class="text-muted">Designing and Implementing Control Systems Architecture with model based design using the appropriate tool box in MATLAB and Simulink . Embedded C-code for the controller designed  can also generated to be used on Hardware.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prototyping</h4>
                    <p class="text-muted">Assist in the process of building your first prototype by sourcing required materials and deciding manufacturing techniques.</p>
                </div>
            </div>
        </div>
    </section>
